.service-card {
  
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column; 
  width: 364;
  height: 457.3900146484375;
  top: 0.5px;
  left: 174px;
  opacity: 1;
  text-align: start;
  padding: 5%;


}

.service-card-image {
  object-fit: cover;
  width: 312;
  height: 234;
  top: 1px;
  left: 1px;
  opacity: 1;
  border-radius: 12px;

}

.service-card-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 1px 0;
}

.service-card-title {
  font-size: 18px;
  font-weight: 700;
  color: #0f3d3e;
  margin: 0;
}

.service-card-tag {
  background-color: #e8f5f3;
  color: #0f3d3e;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 4px;
}

.service-card-price {
  margin-left: auto;
  font-weight: 700;
  color: #006E2D;
  font-size: 16px;
}

.service-card-description {
font-family: var(--primary);
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.64px;
vertical-align: middle;
color: #45464D;

}

.service-card-button {
font-family: var(--primary);
background: linear-gradient(269.98deg, #12B14E -214.32%, #003366 99.98%),
linear-gradient(0deg, rgba(255, 255, 255, 0.002), rgba(255, 255, 255, 0.002));
color: #FFFFFF;
width: 314;
height: 48;
top: 101.59px;
opacity: 1;
border-radius: 8px;
padding: 10px;
gap: 10px;
margin-bottom: 1%;
}